.filter-portfolio {
  @extend %flex-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.filter-portfolio li {
  margin-right: 8px;
}
.filter-portfolio li:last-child {
  margin-right: 0;
}
.filter-portfolio button {
  border-style: none;
  color: map-get($colors, "primary-text-color");
  background-color: map-get($colors, "button-color");
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  letter-spacing: $main-font-spacing;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: map-get($colors, "accent-color");
    color: map-get($colors, "logo-accent-footer");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.button-portf {
  display: inline-block;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.main {
  padding-top: 94px;
  padding-bottom: 94px;
}
