.hide {
  display: none;
  margin: 0;
}
.portf {
  display: block;
  flex-wrap: wrap;
  margin-top: 34px;
  margin-bottom: 0;
}
.portf-portf {
  padding: 0;
  @extend %flex-block;
  flex-wrap: wrap;
  margin: 50px 0 0 0;
}
.portf-portf .item {
  display: block;
  width: 370px;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 30px;
}
.divdiscr {
  display: block;
  width: 100%;
  height: 294px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.portf-portf .discription {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  letter-spacing: $main-font-spacing;
  color: map-get($colors, "logo-accent-footer");
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  opacity: 0;
  background-color: map-get($colors, "accent-color");
  transform: translateY(294px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-shadow {
  display: block;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portf-shadow:hover .discription,
.portf-shadow:focus .discription {
  transform: translateY(0);
  opacity: 0.9;
}
.portf-portf .item:nth-child(3n) {
  margin-right: 0;
}
.portf-portf .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product {
  display: block;
  width: 370px;
  height: 110px;
  padding: 20px 24px;
  border-bottom: 1px solid map-get($colors, "product");
  border-right: 1px solid map-get($colors, "product");
  border-left: 1px solid map-get($colors, "product");
}
.portf-portf h2 {
  font-size: 18px;
  font-family: $primary-font;
  font-weight: 700;
  color: map-get($colors, "primary-text-color");
  line-height: 2;
  margin-top: 0;
  margin-bottom: 4px;
  letter-spacing: $button-font-spacing;
}
.portf-portf p {
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 400;
  color: map-get($colors, "secondary-text-color");
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: $main-font-spacing;
}

a:focus {
  color: map-get($colors, "accent-color");
}
