header {
  position: sticky;
  top: 0;
}

.one {
  background-color: map-get($colors, "logo-accent-footer");
  position: relative;
  top: 0;
  width: 100%;
  min-width: 480px;
  font-size: 24px;
  line-height: 1.17;
  margin: 0;
  padding: 0;
}
.navbox {
  padding: 16px 0 16px 15px;
  display: block;
  height: 60px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #ececec;
}

.logo-web,
.logo-studio,
.logo-studiotwo {
  font-family: $logo-font;
}
.logo-web {
  color: map-get($colors, "accent-color");
}
.logo-studio {
  color: map-get($colors, "logo-accent-header");
}

/* ------old desctop version----------

@media screen and (min-width: $desktop) {
  .logo-web,
  .logo-studio,
  .logo-studiotwo {
    letter-spacing: $main-font-spacing;
    font-family: $logo-font;
  }
  .logo-web {
    font-size: 26px;
    /*font-weight: 700;
    color: map-get($colors, "accent-color");
  }
  .logo-studio {
    font-size: 26px;
    /*font-weight: 700;
    color: map-get($colors, "logo-accent-header");
  }
  .logo-studiotwo {
    font-size: 26px;
    /*font-weight: 700;
    color: map-get($colors, "logo-accent-footer");
  }
  .navbox {
    display: block;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }
  .one {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

------end old desctop version----------*/
