/*@media screen and (max-width: $tablet - 1px) {
  .one {
    display: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
}*/

.menu-button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-cross {
  display: none;
}
.menu-container {
  text-align: center;
  background-color: #ffff;
  width: 100%;
  height: 393px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  @media screen and (max-width: 767px) {
    display: none;
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: block;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}
.contacts .nav-mail-tel {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation .nav {
  list-style-type: none;
  padding: 24px 0 0 0;
  margin: 0;
}

.nav li {
  margin-bottom: 52px;
  &:last-child {
    margin-bottom: 60px;
  }
}
.nav a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav .link-current {
  color: map-get($colors, "accent-color");
  position: relative;
}
.link-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: map-get($colors, "accent-color");
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.menu-button:hover {
  fill: map-get($colors, "accent-color");
}

/* ------old desctop version----------

@media screen and (min-width: $desktop) {
  .nav {
    display: block;
    display: flex;
    padding-left: 0;
    margin-left: 93px;
    letter-spacing: $main-font-spacing;
  }
  .nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
   ------end old desctop version----------*/
