.menu-button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-cross {
  display: none;
}
.menu-container {
  display: flex;
  text-align: center;
  background-color: #ffff;
  width: 100%;
  height: 393px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  @media screen and (max-width: 767px) {
    display: none;
    &.is-open {
      display: block;
    }
    padding: 60px 0;
  }
  @media screen and (min-width: 768px) {
    box-shadow: none;
    width: 516x;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid map-get($colors, "border");
  }
  @media screen and (min-width: 1200px) {
    width: 932px;
  }
}
.contacts .nav-mail-tel {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}
.navigation {
  width: 294px;
  height: 48px;
  margin-top: 32px;
  @media screen and (max-width: 767px) {
    width: 480px;
    height: 155px;
    margin: 0 auto 60px auto;
  }
  @media screen and(min-width: 1200px) {
  }
}
.navigation .nav {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  @media screen and(min-width: 768px) {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 48px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 767px) {
    height: 155px;
  }
}

.nav li {
  margin-bottom: 40px;
  height: 21px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    display: block;
    display: flex;
    margin-bottom: 0;
    height: 48px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.nav .current {
  @media screen and (max-width: 767px) {
    margin-bottom: 52px;
  }
}
.nav a {
  vertical-align: top;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: map-get($colors, "primary-text-color");
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.nav .link-current {
  color: map-get($colors, "accent-color");
  position: relative;
}
.link-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: map-get($colors, "accent-color");
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -8px;
  @media screen and (min-width: 768px) {
    bottom: -34px;
  }
}
.menu-button:hover {
  fill: map-get($colors, "accent-color");
}

/* ------old desctop version----------

@media screen and (min-width: $desktop) {
  .nav {
    display: block;
    display: flex;
    padding-left: 0;
    margin-left: 93px;
    letter-spacing: $main-font-spacing;
  }
  .nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
   ------end old desctop version----------*/
