.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  width: 528px;
  height: 581px;
  padding: 56px 40px 24px 40px;
  background-color: map-get($colors, "logo-accent-footer");
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnclose {
  display: block;
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: map-get($colors, "logo-accent-footer");
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 8px;
  padding: 0;
  &:hover,
  &:focus {
    fill: map-get($colors, "accent-color");
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.btnclose > .name-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 6px;
  left: 4.5px;
}

textarea {
  resize: none;
  padding: 12px 16px;
}
.divcomment {
  width: 448px;
  height: 138px;
}
.form {
  width: 448px;
  height: 342px;
  margin-top: 12px;
}
.form label {
  margin-bottom: 4px;
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: map-get($colors, "secondary-text-color");
}
.form-field {
  display: block;
  display: flex;
  position: relative;
  flex-direction: column;
}
.form-field input,
.form-field textarea {
  margin: 0 0 10px 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}
.form-field input {
  display: block;
  height: 40px;
  padding: 0 0 0 42px;
}
.modal input:focus ~ svg {
  fill: map-get($colors, "accent-two-color");
}
.modal input:focus + .icon {
  fill: map-get($colors, "accent-color");
}
.modal input:focus,
.modal textarea:focus {
  outline: none;
  border: 1px solid map-get($colors, "accent-color");
}
.check::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
}
.check::before {
  margin-right: 8px;
  background-image: url(../images/check.svg);
  fill: map-get($colors, "title-text-color");

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    background-image 250ms var(--timing-function);
}
.checkbox:checked + .check::before {
  background-color: map-get($colors, "hover-color");
  background-image: url(../images/checkin.svg);
  border-radius: 2px;
}
.text {
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field input[type="checkbox"] {
  display: none;
  margin: 0;
  width: 0;
  height: 0;
}
.form-agr {
  padding: 20px 12px 30px 11px;
}
.form-agr label {
  display: flex;
  align-items: center;
}
.check {
  display: block;
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: $main-font-spacing;
  color: map-get($colors, "secondary-text-color");
}
.check a {
  text-decoration: underline;
  color: map-get($colors, "accent-color");
}
.checkbox {
  display: block;
}
.button-submit {
  width: 200px;
  height: 50px;
  background-color: map-get($colors, "accent-color");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: $primary-font;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: $button-font-spacing;
  color: map-get($colors, "logo-accent-footer");
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.button-submit:hover,
.button-submit:focus {
  background-color: map-get($colors, "accent-two-color");
}
.modal p {
  font-family: $primary-font;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: $main-font-spacing;
  color: map-get($colors, "primary-text-color");
  margin: 0;
}
.name-icon {
  display: block;
  color: map-get($colors, "logo-accent-header");
  position: absolute;
  bottom: 20px;
  left: 12px;
  width: 18px;
  height: 18px;
}
