.headtwo {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 36px;
  font-family: $primary-font;
  font-weight: 700;
  color: map-get($colors, "primary-text-color");
  letter-spacing: $main-font-spacing;
}
.headtwo-div {
  padding-top: 0;
  padding-bottom: 94px;
}
.headtwo-team {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-family: $primary-font;
  font-weight: 700;
  color: map-get($colors, "primary-text-color");
}
.ourwork {
  display: block;
  display: flex;
  margin: 50px 0 0 0;
  padding: 0;
}
.ourwork .item {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
}
.ourwork .item:nth-child(3n) {
  margin-right: 0;
}
.ourwork p {
  @extend %flex-center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  font-family: $primary-font;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: $main-font-spacing;
  text-transform: uppercase;
  color: map-get($colors, "logo-accent-footer");
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}
.marginzero {
  margin-top: 0;
  margin-bottom: 0;
}
