.divpeople {
  height: 2791px;
  width: 480px;
  min-width: 100%;
  padding-top: 60px;
  background-color: map-get($colors, "button-color");
  @media screen and (min-width: $tablet) {
    height: 1285px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $tablet) {
    width: 100%;
    min-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 1200px;
    height: 708px;
  }
}

.headtwo-team {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
  color: map-get($colors, "primary-text-color");
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.people {
  padding: 0;
  margin: 0;
  @media screen and (min-width: $tablet) {
    display: block;
    display: flex;
    width: 768px;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
    height: 520px;
  }
}
.team-mobile {
  @media screen and(min-width: 768px) {
    display: none;
  }
}
.team-tablet {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.team-desktop {
  @media screen and (min-width: 1200px) {
    display: block;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.name-team {
  padding-top: 30px;
  @media screen and(min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
    display: flex;
    flex-direction: column;
  }
}

.name-team h3 {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: map-get($colors, "primary-text-color");
  @media screen and(min-width: 768px) {
    width: 354px;
    margin: 0 auto 10px auto;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    width: 270px;
  }
}
.name-team p {
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: map-get($colors, "secondary-text-color");
  @media screen and(min-width: 768px) {
    width: 354px;
    margin: 0 auto 16px auto;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    width: 270px;
  }
}
.people .item {
  width: 450px;
  height: 622px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 0 0 4px 4px;
  background-color: map-get($colors, "logo-accent-footer");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*&:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }*/
  &:last-child {
    margin-bottom: 0;
    @media screen and (min-width: $desktop) {
      margin-bottom: 15px;
    }
  }
  &:nth-child(3) {
    margin-bottom: 60px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
    height: 536px;
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 428px;
  }
}

.socials-list {
  @extend %flex-center;
  flex-wrap: wrap;
  margin: 0 122px 0 122px;
  width: 206px;
  height: 44px;
  list-style-type: none;
  padding: 0;
  @media screen and (min-width: $tablet) {
    margin: 0 auto;
  }
  @media screen and (min-width: $desktop) {
    width: 206px;
    height: 44px;
    margin: 0 auto;
  }
}
.socials-list li {
  @extend %flex-center;
  margin-right: 10px;
  width: 44px;
  height: 44px;

  &:last-child {
    margin-right: 0;
  }
}
.social-svg {
  fill: map-get($colors, "company-icon");
}

.socials-icon {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: map-get($colors, "company-icon");
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-svg {
  fill: map-get($colors, "secondary-text-color");
  fill: currentColor;
}
.socials-icon {
  fill: map-get($colors, "logo-accent-footer");
  &:focus,
  &:hover {
    background-color: map-get($colors, "icon-bg-hover");
    color: map-get($colors, "logo-accent-footer");
  }
}
.socials-list .socials-icon:focus,
.socials-list .socials-icon:hover {
  background-color: map-get($colors, "icon-bg-hover");
  color: map-get($colors, "logo-accent-footer");
}

/* ------old desctop version----------

@media screen and (min-width: $desktop) {
  .divpeople {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
  }
  .people {
    display: block;
    display: flex;
    padding: 0;
    margin-top: 50px;
    padding-bottom: 0;
    flex-wrap: wrap;
    margin-bottom: 0;
    letter-spacing: $main-font-spacing;
  }
  .people .item {
    border-radius: 0 0 4px 4px;
    width: 270px;
    background-color: map-get($colors, "logo-accent-footer");
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .people .item:nth-child(4n) {
    margin-right: 0;
  }
  .people .item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .name-team {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .people h3 {
    text-align: center;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 500;
    letter-spacing: $main-font-spacing;
    color: map-get($colors, "primary-text-color");
    margin-top: 0;
    margin-bottom: 0;
  }
  .people p {
    text-align: center;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 400;
    letter-spacing: $main-font-spacing;
    color: map-get($colors, "secondary-text-color");
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .socials-list,
  .socials-listf {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .socials-list {
    padding-left: 0;
  }
  .socials-list li {
    margin-right: 10px;
  }
  .socials-list li:last-child {
    margin-right: 0;
  }
  .socials-listf {
    margin-top: 20px;
    padding: 0;
  }
  .socials-icon,
  .socials-iconf {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: map-get($colors, "company-icon");
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials-list,
  .socials-listf li {
    margin-right: 10px;
  }
  .socials-list,
  .socials-listf li:nth-child(4n) {
    margin-right: 0;
  }

  .social-svg {
    fill: map-get($colors, "secondary-text-color");
    fill: currentColor;
  }
  .socials-iconf {
    fill: map-get($colors, "logo-accent-footer");
    &:focus,
    &:hover {
      background-color: map-get($colors, "icon-bg-hover");
      color: map-get($colors, "logo-accent-footer");
    }
  }
  .socials-list .socials-icon:focus,
  .socials-list .socials-icon:hover {
    background-color: map-get($colors, "icon-bg-hover");
    color: map-get($colors, "logo-accent-footer");
  }
  .team {
    background-color: map-get($colors, "button-color");
  }
}

 ------end old desctop version----------*/
