.divpeople {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
}
.people {
  @extend %flex-block;
  padding: 0;
  margin-top: 50px;
  padding-bottom: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
  letter-spacing: $main-font-spacing;
}
.people .item {
  border-radius: 0 0 4px 4px;
  width: 270px;
  background-color: map-get($colors, "logo-accent-footer");
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.people .item:nth-child(4n) {
  margin-right: 0;
}
.people .item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name-team {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.people h3 {
  text-align: center;
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 500;
  letter-spacing: $main-font-spacing;
  color: map-get($colors, "primary-text-color");
  margin-top: 0;
  margin-bottom: 0;
}
.people p {
  text-align: center;
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 400;
  letter-spacing: $main-font-spacing;
  color: map-get($colors, "secondary-text-color");
  margin-top: 10px;
  margin-bottom: 16px;
}
.socials-list,
.socials-listf {
  @extend %flex-center;
  width: 100%;
}
.socials-list {
  padding-left: 0;
}
.socials-list li {
  margin-right: 10px;
}
.socials-list li:last-child {
  margin-right: 0;
}
.socials-listf {
  margin-top: 20px;
  padding: 0;
}
.socials-icon,
.socials-iconf {
  @extend %flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: map-get($colors, "company-icon");
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list,
.socials-listf li {
  margin-right: 10px;
}
.socials-list,
.socials-listf li:nth-child(4n) {
  margin-right: 0;
}

.social-svg {
  fill: map-get($colors, "secondary-text-color");
  fill: currentColor;
}
.socials-iconf {
  fill: map-get($colors, "logo-accent-footer");
  &:focus,
  &:hover {
    background-color: map-get($colors, "icon-bg-hover");
    color: map-get($colors, "logo-accent-footer");
  }
}
.socials-list .socials-icon:focus,
.socials-list .socials-icon:hover {
  background-color: map-get($colors, "icon-bg-hover");
  color: map-get($colors, "logo-accent-footer");
}
.team {
  background-color: map-get($colors, "button-color");
}
