.company-div {
  @extend %flex-block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1170px;
  height: 377px;
  padding-top: 101px;
  padding-bottom: 93px;
}
.regular-customers {
  display: block;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: $main-font-spacing;
  color: map-get($colors, "primary-text-color");
  margin-bottom: 50px;
  margin-top: 0;
}
.customer-icon {
  display: block;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.comp-items {
  @extend %flex-block;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 170px;
  height: 90px;
  border: 1px solid map-get($colors, "company-icon");
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: map-get($colors, "accent-color");
    color: map-get($colors, "accent-color");
  }
}
.comp-items:last-child {
  margin-right: 0;
}
.compicon {
  fill: map-get($colors, "secondary-text-color");
  fill: currentColor;
}
.company-icon {
  @extend %flex-center;
  width: 170px;
  height: 90px;
  color: map-get($colors, "company-icon");
  &:hover,
  &:focus {
    border-color: map-get($colors, "accent-color");
    color: map-get($colors, "accent-color");
  }
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
