.company-div {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 513px;
  width: 480px;
  @media screen and(min-width: 768px) {
    margin: 0 auto;
    width: 768px;
    min-height: 393px;
  }
  @media screen and(min-width: $desktop) {
    width: 1200px;
    height: 182px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.regular-customers {
  display: block;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: map-get($colors, "primary-text-color");
  margin-bottom: 30px;
  margin-top: 0;
  @media screen and(min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.comp-items {
  margin: 15px;
  @media screen and(min-width: $desktop) {
    width: 170px;
    height: 90px;
  } /* &:nth-child(2n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }*/
}
.customer-icon {
  @extend %flex-center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: -15px;
}
.company-icon {
  @extend %flex-center;
  border: 1px solid map-get($colors, "company-icon");
  border-radius: 4px;
  width: 210px;
  height: 90px;
  fill: map-get($colors, "company-icon");
  &:hover,
  &:focus {
    border-color: map-get($colors, "accent-color");
    fill: map-get($colors, "accent-color");
  }
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: 768px) {
    width: 226px;
  }
  @media screen and(min-width: $desktop) {
    width: 170px;
    height: 90px;
  }
}
/* ------old desctop version----------

@media screen and (min-width: $desktop) {
  .company-div {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1170px;
    height: 377px;
    padding-top: 101px;
    padding-bottom: 93px;
  }
  .regular-customers {
    display: block;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: $main-font-spacing;
    color: map-get($colors, "primary-text-color");
    margin-bottom: 50px;
    margin-top: 0;
  }
  .customer-icon {
    display: block;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .comp-items {
    display: block;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 170px;
    height: 90px;
    border: 1px solid map-get($colors, "company-icon");
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: map-get($colors, "accent-color");
      color: map-get($colors, "accent-color");
    }
  }
  .comp-items:last-child {
    margin-right: 0;
  }
  .compicon {
    fill: map-get($colors, "secondary-text-color");
    fill: currentColor;
  }
  .company-icon {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: map-get($colors, "company-icon");
    &:hover,
    &:focus {
      border-color: map-get($colors, "accent-color");
      color: map-get($colors, "accent-color");
    }
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

 ------end old desctop version----------*/
