$colors: (
  "primary-text-color": #212121,
  "logo-accent-header": #000000,
  "accent-color": #2196f3,
  "logo-accent-footer": #ffffff,
  "secondary-text-color": #757575,
  "contacts-color-footer": rgba(255, 255, 255, 0.6),
  "icon-bg-hover": rgba(33, 150, 243, 1),
  "header-footer-bg": #2f303a,
  "button-color": #f5f4fa,
  "company-icon": #afb1b8,
  "product": #eeeeee,
  "accent-two-color": #188ce8,
);

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$main-font-spacing: 0.03em;
$button-font-spacing: 0.06em;
